@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

body {
  background: rgb(230, 230, 230);
}

.header {
  background: lightgray;
}

.top-title {
  position: absolute;
  left: 50px;
  font-weight: bold;
  color: green;
  text-decoration: underline;
}

.menu {
  justify-content: center;
}

.menu a {
  margin: 0 5px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
}

.menu a:hover {
  background: rgb(180, 180, 180);
  text-decoration: underline;
  color: black;
}

.section1 {
  position: relative;
  background-image: url(../img/mainpage.jpg);
  background-size: cover;
  height: 90vh;
}

.introduction {
  color: white;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adresse {
  display: inline-block;
  border: 1px solid green;
  margin-top: 1rem;
  padding: 1rem;
}

.adresse h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.basic-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
}

.footer {
  background: lightgray;
  padding-top: 1rem;
}

.title-md {
  font-family: "Josefin Sans", sans-serif;
  margin: 2rem 0;
}

.underline {
  box-shadow: 0 4px 3px -3px gray;
}
