/********** Global text font **********/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

/********** Header title font **********/
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
}

/********** Background **********/
body {
  background-image: url(../img/body-background.jpg);
  background-attachment: fixed;
}

.body-background {
  background: rgb(230, 230, 230, 0.7);
}
/********** Header **********/
.header {
  background: lightgray;
}

.top-title {
  margin-left: 20px;
  font-family: "Merienda One", cursive;
  color: green;
}

/********** Navlinks **********/
.menu a {
  margin: 0 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.menu a:hover {
  background: rgb(180, 180, 180);
  text-decoration: underline;
  color: black;
}

/********** First section background **********/
.section1 {
  position: relative;
  background-image: url(../img/mainpage2.jpg);
  background-size: cover;
  height: 100vh;
}

/********** Text **********/
.introduction {
  color: white;
  font-size: 2rem;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.basic-text {
  font-size: 1.2rem;
}

.basic-text-bolder {
  font-size: 1.2rem;
  font-weight: bolder;
}

.title-md {
  margin: 2rem 0;
}

/********** Underline shadow **********/
.underline {
  box-shadow: 0 4px 3px -3px gray;
}

/********** Footer **********/
.footer {
  background: lightgray;
  padding-top: 1rem;
}
